.cart {
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
  border: 1px solid silver;
  border-bottom: none;
  transform: translateY(calc(100% - 2rem));
  background-image: url(../assets/images/icon-handle-v.svg);
  background-repeat: no-repeat;
  background-position: top 0.5rem center;
  background-size: 1rem;
  transition: all 0.3s ease;

  &.open {
    transform: translateY(0);
  }

  > div {
    height: 100%;
    padding: 1rem;
    padding-top: 2rem;

    .item {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid silver;

      .image {
        width: 4rem;
        height: 4rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 3.5rem;
      }

      .name {
        flex-grow: 10;

        h5 {
          font-size: 1rem;
        }

        h6 {
          font-size: 0.8rem;
        }
      }

      .controls {
        display: flex;
        flex-direction: row;
        height: 2rem;
        border: 1px solid silver;
        border-radius: 1rem;

        .add,
        .remove,
        .count {
          line-height: 2rem;
          width: 2rem;
          text-align: center;
        }

        .count {
          border-left: 1px solid silver;
          border-right: 1px solid silver;
        }
      }
    }
  }
}
