.nav {
}

.nav li {
  padding: 1rem;
}

.nav li.active {
  border-bottom: 1px solid red;
}

.beers {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem;
  margin: 0;
}

.beers li {
  list-style: none;
  padding: 0.5rem;
}

.beers li .image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid silver;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80px;
}

.beers li .name {
  text-align: center;
  padding: 0.5rem;
}
